$glassColor: rgb(221, 221, 221, 0.5);
$backgroundColor: rgb(204, 204, 204);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    transition: all .1s ease-in-out;
    user-select: none;
}


.wrapper {
    margin: 2rem auto;
    width: 90vw;
    border-radius: 10px;
    padding: 2rem;
    background-color: $backgroundColor;
    background-image: url(../images/dice.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .menu {
        padding: 2rem 0;
        margin: 0 auto;
        width: 70%;
        background: rgba(255, 255, 255, 0.24);
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    #title {
        // glass effect
        background: rgba(255, 255, 255, 0.22);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: #0f0f0f;
        width: fit-content;
        padding: 1rem 10rem;
        margin: 0 auto;
        backdrop-filter: blur(10px);
        text-align: center;
        font-size: 2rem;
    }

    #buttons {

        margin: 2rem auto;
        width: 40%;
        #gameMode {
            padding: 3rem 0 8rem 0;
            li {
                margin: 2rem auto;
                width: fit-content;
                &:hover {
                    transform: translateY(6px);
                }
            }
            a {
                color: rgb(33, 33, 33);
                background-color: rgb(255, 255, 255);
                padding: 10px 30px;
                border-radius: 5px;
                font-size: 1.5rem;
                box-shadow: 0px 6px 0px #0f0f0f;
                &:hover {
                    box-shadow: 0px 0px 0px #0f0f0f;
                }
                
            }
            .comingsoon {
                color: #747474;
                background-color: #9b9b9b;
                text-decoration: line-through;
                pointer-events: none;
                box-shadow: 0px 0px 0px #0f0f0f;
                transform: translateY(6px);
            }
        }
    }
    // .comingsoonのみhover時にtransform: translateY(6px);を効かないようにする
}
