$glassColor: rgb(221, 221, 221, 0.5);
$backgroundColor: rgb(204, 204, 204);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    transition: all .1s ease-in-out;
    user-select: none;
    font-family: 'M PLUS 1p', sans-serif;
}


.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: $backgroundColor;
    background-image: url(../images/dice.jpg);
    background-size: cover;
    background-position-y:bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    .filter {
        background-color: #63636331;
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
        .menu {
            height: calc(100% - 10rem);
            padding: 5rem 8rem;
            display: flex;
            flex-direction: column;
            h1 {
                font-weight: 900;
                font-size: 5rem;
                color: aliceblue;
            }
            .gameMode {
                margin-top: auto;
                li {
                    font-weight: 800;
                    font-size: 2rem;
                    margin-top: 0.8em;
                    .button{
                        position: relative; 
                        text-decoration: none;
                        color: #ffffff;
                        transition: .3s;
                        padding: .2em 2em;
                        &:after{
                            position: absolute;
                            left: 0;
                            top: 0;
                            content: "";
                            background: #D9D9D9;
                            width: 2%; 
                            height: 100%;
                            transition: .3s;
                            z-index: -1; 
                            border-radius: 5px;
                        }
                        &:hover{
                            color: #393939;
                            &:after{
                                width: 100%; 
                            }
                        }
                    }
                    .comingsoon {
                        position: relative; 
                        text-decoration: line-through;
                        pointer-events: none;
                        color: #8a8a8a;
                        transition: .3s;
                        padding: .2em 2em;
                        &:after {
                            background: #8a8a8a;
                        }
                    }
                }
            }
        }
    }

    // .comingsoonのみhover時にtransform: translateY(6px);を効かないようにする
}
